<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuicKonnect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E8EE5B71D1EB3EE0080A787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E8EE5D31D1EB3EF0080A787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E8EE5DE1D1EB3EF0080A787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
